body{
  background-color: #FA8AB2
}

h1{
  background-color: #7D8B91;
  color: white;
  opacity: 0.6;
  font-size: 40px;
}

input{
  background-color: #FC6198;
  color: white;
  padding: 25px 35px;
  text-align: center;
}
